.container {
    background-color: bisque;
    border: 1px solid black;
}

.row {
    background-color: bisque;
    border: 1px solid black;
}

.row > * {
    background-color:darksalmon;
    border: 1px solid black;
}