body {
  background-color: #ffb6c13b;
  color: #721c24;
  font-family: cursive;
}

.text-color {
  color: #721c24;
}

.bg-red {
  background-color: #f5c6cb;
}

.nav-text {
  font-family: cursive;
  font-weight: bold;
}

a:active,
a:link,
a:visited {
  text-decoration: none;
  color: #721c;
}

a:hover {
  background-color: #f5c6cb;
}

.text-red {
  font-size: 2rem;
  color: darkred;
}

.jumbotron {
  padding: 0;
  background-color: transparent;
}

.img-fluid {
  max-height: 85vh;
  display: block;
  margin: auto;
}
