body {
  background-color: #ffb6c13b;
  color: #721c24;
}

.text-color {
  color: #721c24;
}

.bg-red {
  background-color: #f5c6cb;
}

a:active,
a:link,
a:visited {
  text-decoration: none;
  color: #721c;
}

a:hover {
  background-color: #f5c6cb;
}

.display-title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2;
}

.dark-red {
  background-color: #c12d3cc4;
}

.text-red {
  font-size: 2rem;
  color: darkred;
}

.jumbotron {
  padding: 0;
  background-color: transparent;
}
