body {
  background-color: #ffb6c13b;
  color: #721c24;
  font-family: cursive;
}

.bg-red {
  background-color: #f5c6cb;
}

.nav-text {
  font-family: cursive;
  font-weight: bold;
}

a:active,
a:link,
a:visited {
  text-decoration: none;
  color: #721c;
}

a:hover {
  background-color: #f5c6cb;
}

.text-red {
  font-size: 2rem;
  color: darkred;
}

img {
  width: 100%;
}

.pagination a:active,
.pagination a:link,
.pagination a:visited {
  text-decoration: none;
  color: rgb(226, 95, 95);
}

.page-item.active .page-link {
  color: #a54c4c;
  background-color: #b16a7136;
  border-color: #b16a7136;
}

.page-link:focus {
  box-shadow: 0 0 0 0.2rem #b16a7136;
}
