body {
  background-color: #ffb6c13b;
}

a:active,
a:link,
a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  background-color: #e6c5c880;
}

.dark-red {
  background-color: #c12d3cc4;
}

.text-red {
  font-size: 2rem;
  color: darkred;
}

.display-title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2;
}

img {
  width: 100%;
  /* object-fit: scale-down; */
}

/* img {
  height: 300px;
  width: 300px;
  object-fit: cover;
} */
/* 
.img-container {
  max-height: 15rem;
  
} */

/* .container-img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  margin: 20px;
} */

/* .pagination a:hover{
  color:black;

} */

.pagination a:active,
.pagination a:link,
.pagination a:visited {
  text-decoration: none;
  color: rgb(226, 95, 95);
}

.page-item.active .page-link {
  color: #a54c4c;
  background-color: #b16a7136;
  border-color: #b16a7136;
}

.page-link:focus {
  box-shadow: 0 0 0 0.2rem #b16a7136;
}
