body {
  background-color: #ffb6c13b;
  color: #721c24;
  font-family: cursive;
}

.bg-red {
  background-color: #f5c6cb;
}

.nav-text {
  font-family: cursive;
  font-weight: bold;
}

a:active,
a:link,
a:visited {
  text-decoration: none;
  color: #721c;
}

a:hover {
  background-color: #f5c6cb;
}

.text-red {
  font-size: 2rem;
  color: darkred;
}

.menu-badge {
  padding: 0.5em 0.8em;
  height: 2.2em;
  margin-left: 1em;
}

.display-badge {
  display: flex;
  padding: 8px 0 0 0;
}

.list-group-item {
  border: none;
}
